# Python environment 
customer_class_venv/
**/venv/
__pycache__/
*.pyc

# ML flow 
mlruns/
.trash/


# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
.virtual_documents/


# System files 
.DS_Store
